---
import { Image } from "astro:assets";
import diffImage from "@assets/img/home/bgDiferente.jpg";
import iconIntegration from "@assets/svg/home/share.svg";
import iconCompliance from "@assets/svg/home/book-square.svg";
import iconSolutions from "@assets/svg/home/flash-circle.svg";
import iconManagement from "@assets/svg/home/hierarchy-2.svg";
import iconDevelopment from "@assets/svg/home/buildings-2.svg";
import iconOperations from "@assets/svg/home/data-2.svg";

interface DifferentiatorCard {
  text: string;
  alt: string;
}

interface Props {
  title: string;
  paragraphs: string[];
  cards: DifferentiatorCard[];
  imageAlt: string;
}

const { title, paragraphs, cards, imageAlt } = Astro.props;
const icons = [
  iconIntegration,
  iconCompliance,
  iconSolutions,
  iconManagement,
  iconDevelopment,
  iconOperations,
];
---

<section class="bg-white text-black">
  <div class="grid gap-8 lg:grid-cols-[1fr_1.3fr] lg:items-baseline">
    <div class="mx-4 lg:ml-16 pt-8 lg:pt-0">
      <h2 class="text-2xl font-medium lg:text-4xl">{title}</h2>
      {
        paragraphs.map((paragraph) => (
          <p class="mt-4 text-sm text-black/70 lg:text-base">{paragraph}</p>
        ))
      }
    </div>

    <div class="relative overflow-hidden text-white">
      <div class="absolute inset-0">
        <Image
          src={diffImage}
          alt={imageAlt}
          class="h-full w-full object-cover"
        />
        <div class="absolute inset-0 bg-black/80"></div>
      </div>

      <div class="relative grid gap-4 p-6 md:grid-cols-2 lg:p-16">
        {
          cards.map((card, index) => (
            <div class="rounded-2xl border border-white/30 bg-white/10 p-4">
              <Image
                src={icons[index]}
                alt={card.alt}
                class="size-12 lg:size-16 mx-auto"
              />
              <p class="mt-3 text-center text-sm md:text-base lg:text-xl">
                {card.text}
              </p>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
